* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    color: azure;

}

body {
    font-family: SofiaSansCondensed-Regular, sans-serif;
    font-size: rem(16px);
    margin: 0;
    min-height: 100vh;
    // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Beero", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    //     "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.main-app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(29, 28, 28);


    main {

        min-height: 80vh;

        // flex-grow: 1;
    }

    >footer {
        background-color: rgb(34, 34, 34);

        color: azure;
        // position: sticky;
        // bottom: 0;
        // height: fit-content;
        // width: 100vw;
    }
}




.active {
    color: rgb(252, 255, 152);
    font-weight: 600;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: normal;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}

button {
    font-family: inherit;
    cursor: pointer;

    * {
        pointer-events: none;
    }
}

.add {
    width: fit-content;
}

.add-button {
    display: flex;
    border: 1px solid #eee;
    padding: 5px;
    width: fit-content;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-content: center;

    h3 {
        font-weight: 400;
    }

    img {
        margin-right: 10px;
        width: 30px;
    }
}

input {
    font-family: inherit;
    text-align: inherit;
    font-weight: 400;
    font-size: 1em;
    margin-top: 5px;
    background-color: rgb(65, 63, 59);
    color: azure;
    border-color: black !important;

}

input:focus {
    background-color: rgb(90, 87, 82);
    border-color: black !important;

}

select {
    font-family: inherit;
    text-align: inherit;
    font-weight: 400;
    font-size: 1em;
    margin-top: 5px;
    background-color: rgb(65, 63, 59);
    color: azure;
    border-color: black !important;
}

// MAC like scrollbar
::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
    background: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
    -webkit-border-radius: 100px;
}