@font-face {
  src: url(../../fonts/Sofia_Sans_Condensed/static/SofiaSansCondensed-Regular.ttf);
  font-family: SofiaSansCondensed-Regular;
}

@font-face {
  src: url(../../fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-family: Ubuntu-Regular;
}

// @font-face {
//   src: url(../../fonts/OpenSans-Regular.ttf);
//   font-family: OpenSans;
// }